{% extends 'adminlayout.html.twig' %}
{% block title %} - Admin {% endblock %}
{% block content %}
    {% include "Admin/adminheader.html.twig" %}
    <main>
        <div class="time"><span class="defile"> {{ "now"|date("H:i:s d/m/Y") }}</span></div>
        <div class="cards">
            <div class="card-single">
                <div>
                    <h1> {{ users }} </h1>
                    <span> Membres </span>
                </div>
                <div>
                    <span class="las la-users"></span>
                </div>
            </div>
            <div class="card-single">
                <div>
                    <h1> {{ sales }} €</h1>
                    <span> CA total  </span>
                </div>
                <div>
                    <span class="las la-file-invoice-dollar"></span>
                </div>
            </div>
            <div class="card-single">
                <div>
                    <h1> {{ orders }} </h1>
                    <span> Commandes </span>
                </div>
                <div>
                    <span class="las la-edit"></span>
                </div>
            </div>
            <div class="card-single">
                <div>
                    <h1> {{ tickets }} </h1>
                    <span> Messages </span>
                </div>
                <div>
                    <span class="las la-envelope"></span>
                </div>
            </div>
        </div>

        <div class="recent-grid">
            <div class="orders">
                <div class="card">
                    <div class="card-header">
                        <h3> Commandes récentes</h3>
                        <a href="/admin/indexOrders">
                            <button> Details <span class="las la-arrow-right"></span></button>
                        </a>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table width="100%">
                                <thead>
                                <tr>
                                    <td> Utilisateur</td>
                                    <td> Commandes N°</td>
                                    <td> Date</td>
                                    <td> Total</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in 0..2 %}
                                <tr>
                                    <td> {{ orderAdmin[i].username }} </td>
                                    <td> {{ orderAdmin[i].id }}</td>
                                    <td>{{ orderAdmin[i].order_date|date("d/m/Y") }}</td>
                                    <td>{{ orderAdmin[i].total }}</td>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="users">
                <div class="card">
                    <div class="card-header">
                        <h3> Nouveaux membres</h3>
                        <a href="/admin/indexUsers">
                            <button> Details <span class="las la-arrow-right"></span></button>
                        </a>
                    </div>
                    <div class="card-body">
                        {% for i in 0..2 %}
                            <div class="user">
                                <div class="info">
                                    <img src="{{ userInfo[i].image }}" width="60px" height="50px" alt="">
                                    <div>
                                        <h4> {{ userInfo[i].username }} </h4>
                                        <small> {{ userInfo[i].birthday }} </small>
                                    </div>
                                </div>
                                <div class="contact">
                                    <span class="las la-user-circle"></span>
                                    <span class="las la-comment"></span>
                                    <span class="las la-phone"></span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="recent-grid">
            <div class="products">
                <div class="card">
                    <div class="card-header">
                        <h3> Produits </h3>
                        <a href="/admin/indexProduct">
                            <button> Détails <span class="las la-arrow-right"></span></button>
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table width="100%">
                                <thead>
                                <tr>
                                    <td>Produits</td>
                                    <td> Prix </td>
                                    <td> Stock</td>
                                    <td> Status</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for dashBoardProduct in dashBoardProducts %}
                                <tr>
                                    <td> {{ dashBoardProduct.name }} </td>
                                    <td> {{ dashBoardProduct.price }}</td>
                                    <td> {{ dashBoardProduct.stock }}</td>
                                    {% if dashBoardProduct.stock  > 5 %}
                                        <td>
                                            <small>En stock</small>
                                        </td>
                                    {% endif %}
                                    {% if dashBoardProduct.stock <= 5 and dashBoardProduct.stock >0 %}
                                        <td>
                                            <small>Bientôt épuisé</small>
                                        </td>
                                    {% endif %}
                                    {% if dashBoardProduct.stock == 0 %}
                                    <td>
                                        <small>En cours de réapprovisionnement</small>
                                    <td>
                                        {% endif %}
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
                <div class="orders">
                    <div class="card">
                        <div class="card-header">
                            <h3> Reservations </h3>
                        <a href="/admin/indexMovieReservation">
                            <button> Details <span class="las la-arrow-right"></span></button>
                        </a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table width="100%">
                                    <thead>
                                    <tr>
                                        <td> N° Séance  </td>
                                        <td> Date </td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in 0..2 %}
                                    <tr>
                                        <td class="text-white">{{ dashBoardMovieReservation[i].id }}</td>
                                        <td class="text-white">{{ dashBoardMovieReservation[i].date }}</td>
                                    </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>

{% endblock %}
