{% extends 'adminlayout.html.twig' %}
{% block title %}{% endblock %}
{% block content %}
    {% include "Admin/adminheader.html.twig" %}
        <main>
            <div class="time">
                <span class="defile"> {{ "now"|date("H:i:s d/m/Y") }} </span>
            </div>
            <div class="card">
                <div class="card-index">
                    <h2>Demandes générales des utilisateurs</h2>
                    <div class="form-floating mb-3 text-end">
                    </div>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" class="text-white">Sujets</th>
                        <th scope="col" class="text-white">Noms</th>
                        <th scope="col" class="text-white">Message</th>
                        <th scope="col" class="text-white text-end"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contact in contacts %}
                        <tr>
                            <td class="text-white">
                                <a href="show/{{ contact.id }}" class="text-white">{{ contact.subject }}</a>
                            </td>
                            <td class="text-white">{{ contact.lastname }}</td>
                            <td class="text-white">{{ contact.message }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="card-back">
                    <a href="/admin/index">
                        <button> Retour</button>
                    </a>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
