{% extends 'layout.html.twig' %}
{% block content %}
	{% include "_nav_user.html.twig" %}
	<div class="container-fluid pt-5 px-0" id="body">
		<h1 class="text-center text-white">Produits</h1>
		<div class="separation"><hr></div>
		<main class="container-fluid mt-4">
			<br>
			<div class="btn-group px-5" role="group">
				<button id="btnGroupDrop1" type="button" class="button button-mob dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Filtrer
				</button>
				<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
					{% for category in categories %}
						<a class="dropdown-item" href="/product/filterCategory/{{ category.id }}">
							Par
							{{category.name}}
						</a>
					{% endfor %}
					<a class="dropdown-item" href="/product/filterExPrice">Du + cher au - cher</a>
					<a class="dropdown-item" href="/product/filterChPrice">Du - cher au + cher</a>
				</div>
			</div>
			<div class="row" id="cards">
				{% for product in products %}
					{% if category.id is defined %}
						{% if category.id == product.category_id %}
							<div class="col-lg-4 col-md-6 col-s-12 p-5" id="card">
								<div class="card" id="border_card">
									<img src="{{ product.image }}" href="/product/{{ product.id }}" class="card-img-top img-fluid p-2" alt="..." id="image">
									<div class="card-body text-center">
										<p class="card-title text-center" style="font-size: 1.5rem">
											<strong>{{ product.name }}</strong>
										</p>
										<p class="card-text text-center text-truncate">
											<small>{{ product.description }}</small>
										</p>
										<p class="card-text">Tarif :
											{{ product.price }}
											€</p>
										{% if product.stock  > 5 %}
											<p class="card-text text-success">
												<small>En stock</small>
											</p>
										{% endif %}
										{% if product.stock <= 5 and product.stock >0 %}
											<p class="card-text text-warning">
												<small>Bientôt épuisé</small>
											</p>
										{% endif %}
										{% if product.stock <= 0 %}
											<p class="card-text text-danger">
												<small>En cours de réapprovisionnement</small>
											</p>
										{% endif %}
										{% if product.stock > 0 %}
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12 my-3">
													<a class="button_gradient text-nowrap button-big" href="/home/addToCart/{{ product.id }}">Ajouter au panier</a>
												</div>
											{% endif %}
											<div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12 my-3">
												<a class="button text-nowrap button-mob" href="/home/showProduct/{{ product.id }}">Plus d'infos</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endif %}
					{% else %}
						<div class="col-lg-4 col-md-6 col-s-12 p-5" id="card">
							<div class="card" id="border_card">
								<img src="{{ product.image }}" href="product/{{ product.id }}" class="card-img-top img-fluid p-2" alt="..." id="image">
								<div class="card-body text-center">
									<p class="card-title text-center" style="font-size: 1.5rem">
										<strong>{{ product.name }}</strong>
									</p>
									<p class="card-text text-center text-truncate">
										<small>{{ product.description }}</small>
									</p>
									<p class="card-text">Tarif :
										{{ product.price }}
										€</p>
									{% if product.stock  > 5 %}
										<p class="card-text text-success">
											<small>En stock</small>
										</p>
									{% endif %}
									{% if product.stock <= 5 and product.stock >0 %}
										<p class="card-text text-warning">
											<small>Bientôt épuisé</small>
										</p>
									{% endif %}
									{% if product.stock <= 0 %}
										<p class="card-text text-danger">
											<small>En cours de réapprovisionnement</small>
										</p>
									{% endif %}
									<div class="container-fluid">
										{% if product.stock > 0 %}
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12 my-3">
													<a class="button_gradient text-nowrap button-big" href="/home/addToCart/{{ product.id }}">Ajouter au panier</a>
												</div>
											{% endif %}
											<div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12 my-3">
												<a class="button text-nowrap button-mob" href="/home/showProduct/{{ product.id }}">Plus d'infos</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</main>
	</div>
{% endblock %}
