{% extends 'layout.html.twig' %}
{% block title %} - Inscription {% endblock %}
{% block content %}
    {% include "/_nav_user.html.twig" %}
    <section class="container-fluid px-0 pt-5" id="body">
        <h1 class="text-center mt-3 mb-3">Inscription</h1>
        <div class="separation"><hr></div>
        <div class="container-fluid p-4">
            <div class="contact_form row m-5">
                <form method="post" enctype="multipart/form-data">
                    <input type="hidden" value="{{ user.id }}" name="id">
                    <input type="hidden" value="0" name="is_admin">
                    <div class="row g-2">
                        <div class="col-md mx-3 my-3">
                            <label for="username" class="form-label"></label>
                            <input type="text" class="form-control login_form" id="username" placeholder="Pseudo" name="username">
                            {% if errors.username is defined and not empty %}
                            <div class="alert" role="alert" id="contact_error">       
                                <p>{{ errors.username }}</p>
                            </div>
                            {% endif %}
                            {% if errors.username1 is defined and not empty %}
                            <div class="alert" role="alert" id="contact_error">       
                                <p>{{ errors.username1 }}</p>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-md mx-3 my-3">
                            <label for="lastname" class="form-label"></label>
                            <input type="text" class="form-control login_form" id="lastname" placeholder="Nom" name="lastname">
                            {% if errors.lastname is defined and not empty %}
                            <div class="alert" role="alert" id="contact_error">       
                                <p>{{ errors.lastname }}</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="col-md mx-3 my-3">
                            <label for="firstname" class="form-label"></label>
                            <input type="text" class="form-control login_form" id="firstname" placeholder="Prénom" name="firstname">
                            {% if errors.firstname is defined and not empty %}
                            <div class="alert" role="alert" id="contact_error">       
                                <p>{{ errors.firstname }}</p>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-md mx-3 my-3">
                            <label for="email" class="form-label"></label>
                            <input type="email" class="form-control login_form" id="email" placeholder="E-mail" name="email">
                            {% if errors.email is defined and not empty %}
                            <div class="alert" role="alert" id="contact_error">       
                                <p>{{ errors.email }}</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="col-md mx-3 my-3">
                            <label for="password" class="form-label"></label>
                            <input type="password" class="form-control login_form" id="password" placeholder="Mot de passe" name="password">
                            {% if errors.password is defined and not empty %}
                            <div class="alert" role="alert" id="contact_error">       
                                <p>{{ errors.password }}</p>
                            </div>
                            {% endif %}
                            {% if errors.password1 is defined and not empty %}
                            <div class="alert" role="alert" id="contact_error">       
                                <p>{{ errors.password1 }}</p>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-md mx-3 my-3">
                            <label for="check_password" class="form-label"></label>
                            <input type="password" class="form-control login_form" id="check_password" placeholder="Vérification du mot de passe" name="check_password">
                            {% if errors.check_password is defined and not empty %}
                            <div class="alert" role="alert" id="contact_error">       
                                <p>{{ errors.check_password }}</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="col-md mx-3 my-3">
                            <label for="adress" class="form-label"></label>
                            <input type="text" class="form-control login_form" id="adress" placeholder="Adresse" name="adress">
                            {% if errors.adress is defined and not empty %}
                            <div class="alert" role="alert" id="contact_error">       
                                <p>{{ errors.adress }}</p>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-md mx-3 my-3">
                            <label for="phone" class="form-label"></label>
                            <input type="number" class="form-control login_form" id="phone" placeholder="Numéro de téléphone" name="phone">
                            {% if errors.phone is defined and not empty %}
                            <div class="alert" role="alert" id="contact_error">       
                                <p>{{ errors.phone }}</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md mx-3 my-3">
                            <label for="birthday" class="form-label" id="birthday_register">Date de naissance : </label>
                            <input type="date" class="form  login_form" id="birthday" name="birthday">
                            {% if errors.birthday is defined and not empty %}
                            <div class="alert" role="alert" id="contact_error">       
                                <p>{{ errors.birthday }}</p>
                            </div>
                            {% endif %}  
                        </div>
                    <div class="input-box">
                        <label for="image" class="form-label">Ajout photo de profil : </label>
                        <input type="file" class="form" id="image" name="image">
                    </div>
                    <div class="errors">
                        {% if errors.image is defined and not empty %}
                            <div>{{ errors.image }}</div>
                        {% endif %}
                    </div>
            </div>
                    <div class="mt-3 text-center">
                        <button type="submit" class="button_gradient">S'inscrire</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

